<div id="page-top" class="index">
  <div class="container">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="navbar-header">
        <a href="/" class="navbar-brand" >
          Jupiter Credit System
        </a>
      </div>

      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/deposits/templates/" class="navbar-link">
              <span class="glyphicon glyphicon-piggy-bank"></span>
              Вклады
            </a>
          </li>

          <li>
            <a href="/credits/templates/" class="navbar-link">
              <span class="glyphicon glyphicon-credit-card"></span>
              Кредиты
            </a>
          </li>

          <li>
            <a href="/sign-in/" class="navbar-link">
              <span class="glyphicon glyphicon-log-in"></span>
              Войти
            </a>
          </li>

          <li>
            <a href="/sign-up/" class="navbar-link">
              <span class="glyphicon glyphicon-user"></span>
              Зарегистрироватся
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>