<div id="page-top" class="index">
  <div class="container">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="navbar-header">
        <a href="/" class="navbar-brand" >
          Jupiter Credit System
        </a>
      </div>

      <div style="margin-right: 30px;">
        <ul class="nav navbar-nav navbar-right">
          <li ng-if="!user.isAuthenticated()">
            <a href="/deposit-templates/" class="navbar-link">
              <span class="glyphicon glyphicon-piggy-bank"></span>
              Вклады
            </a>
          </li>

          <li ng-if="!user.isAuthenticated()">
            <a href="/credit-templates/" class="navbar-link">
              <span class="glyphicon glyphicon-credit-card"></span>
              Кредиты
            </a>
          </li>

          <li ng-if="!user.isAuthenticated()">
            <a href="/sign-in/" class="navbar-link">
              <span class="glyphicon glyphicon-log-in"></span>
              Войти
            </a>
          </li>

          <li ng-if="!user.isAuthenticated()">
            <a href="/sign-up/" class="navbar-link">
              <span class="glyphicon glyphicon-user"></span>
              Зарегистрироватся
            </a>
          </li>

          <li ng-if="user.isAuthenticated()">
            <a href="/" ng-click="auth.signOut()" class="navbar-link">
              <span class="glyphicon glyphicon-log-out"></span>
              Выйти
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
