<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet/less" type="text/css" href="src/core/assets/less/main.less"/>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/ngstorage/ngStorage.min.js"></script>
    <script src="node_modules/less/dist/less.js"></script>

    <script src="src/core/module.js"></script>
    <script src="src/core/controllers/home.controller.js"></script>
    <script src="src/core/controllers/error.controller.js"></script>
    <script src="src/core/services/error.service.js"></script>

    <script src="src/auth/module.js"></script>
    <script src="src/auth/services/auth.service.js"></script>
    <script src="src/auth/controllers/sign-in.controller.js"></script>
    <script src="src/auth/controllers/sign-up.controller.js"></script>

    <script src="src/finance/module.js"></script>
    <script src="src/finance/controllers/credit-templates.controller.js"></script>
    <script src="src/finance/controllers/deposit-templates.controller.js"></script>

    <script src="src/app.config.js"></script>
</head>
<body ng-app="jupiter">
    <div id="page-content">
        <div ng-include="'src/core/views/header.view.html'"></div>
        <div ng-if="!globalHTTPError" ng-view>
        </div>
        <div ng-if="globalHTTPError" ng-include="'src/core/views/error.view.html'"></div>
    </div>
</body>
</html>